<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id, Item.category_ids.map { |name, _id| [name.titleize, name] } %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :condition %>
    <%= f.select :condition, Item.conditions.map { |name, _ids| [name.titleize, name] } %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :format %>
    <%= f.select :format, Item.formats.map { |name, _ids| [name.titleize, name] } %>
  </div>

  <div class="field">
    <%= f.label :brand_id %>
    <%= f.select :brand_id, Item.brand_ids.map { |name, _ids| [name.titleize, name] } %>
  </div>

  <div class="field">
    <%= f.label :screen_size %>
    <%= f.select :screen_size, Item::SCREEN_SIZES.map { |digit, name| [name, digit] } %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.select :color, Item.colors.map { |name, _ids| [name.titleize, name] } %>
  </div>

  <div class="field">
    <%= f.label :memory %>
    <%= f.select :memory, Item::MEMORY_SIZES.map { |digit, name| [name, digit] } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
